@media only screen and (min-width:400px) {
  body {
    /*    background-color: black;*/
    background-image: url("../images/background-img-b4-compressor (1).jpg");
    background-repeat: no-repeat;
    background-size: cover;
    /* no-repeat center center
        fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover; */
  }

  nav {
    background-color: black;
  }

  .nav li {
    display: inline-block;
    padding: 10px;
  }

  #icons {
    margin-top: 90px;
    margin-bottom: 40px;
    padding: 10px;
    color: white;
    margin-left: 100px;
    transform: rotate(-15deg);
    border-top: 10px solid darkturquoise;
    border-right: 10px solid darkturquoise;
    border-left: 10px solid darkturquoise;
    border-bottom: 10px solid darkturquoise;
    border-radius: 40px;
  }

  #icons:hover {
    color: darkturquoise;
  }

  #grtng {
    font-size: 80px;
    color: darkturquoise;
    /*    margin-left: 80px;*/
  }

  #abt {
    font-size: 50px;
    color: black;
    margin-left: 20px;
    margin-top: 100px;
    font-family: 'Shadows Into Light', cursive;
    font-family: 'Lobster Two', cursive;
    text-align: center;
  }

  #abot {
    background-color: gainsboro;
  }

  #cv {
    font-size: 25px;
    font-family: 'Shadows Into Light', cursive;
    margin-bottom: 100px;
    margin-left: 20px;
  }

  #am {
    font-size: 18px;
    color: darkseagreen;
    margin-left: 80px;
  }

  #cont {
    margin-left: 80px;
  }

  #cntct {
    margin-top: 20px;
  }

  .fixd {
    color: darkturquoise;
    text-decoration: none;
    list-style-type: none;
    font-weight: bold;
  }

  #home {
    margin-left: 10px;
  }

  li {
    text-decoration: none;
    list-style-type: none;
  }

  #fxd:hover {
    color: black;
    transform: skewy(-6deg);
    /* transform: opacity 300ms  ease-in-out 1s;
    transform: skewY(-15deg); */
    /*box-shadow: 0 60px 20px rgba(0,0,0,.1);*/
  }

  .fixd:hover {
    color: white;
    transform: rotate(-15deg);
    transform: opacity 300ms ease-in-out 1s;
    transform: skewY(-15deg);
    border-color: aqua;
  }

  #first {
    margin-top: 40px;
  }

  #second {
    margin-top: 50px;
    margin-bottom: 50px;
  }

  .pot {
    opacity: 0.7;
    filter: alpha(opacity=50);
    width: 300px;
    height: 300px;
  }

  .pot:hover {
    opacity: 1.0;
    filter: alpha(opacity=100);
    transform: skewy(-6deg);
  }
}
