  body {
       background-color: black;
    /* background-image: url("../images/background-img-b4-compressor (1).jpg");
    background-repeat: no-repeat;
    background-size: cover;
    margin: 0; */
    /* no-repeat center center
        fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover; */
  }
  #profile{
    float: right;
    border-radius: : 0px solid darkturquoise;
    border-radius: 40px;
  }

  .pow {
    background-color: black;
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    z-index: 1030;
  }
nav a img{
  border-radius: 40px;
  float: left;
  width: 100;
  height: 40;
}
  nav ul li {
    display: inline-block;
    padding-right: 70px;
    font-size: 20px;
    /* padding: 50px;
    padding: 50px; */
    /* float: right; */
    background-color: black;
  }

  #icons {
    margin-top: 90px;
    margin-bottom: 40px;
    padding: 10px;
    color: white;
    margin-left: 100px;
    transform: rotate(-15deg);
    border-top: 10px solid darkturquoise;
    border-right: 10px solid darkturquoise;
    border-left: 10px solid darkturquoise;
    border-bottom: 10px solid darkturquoise;
    border-radius: 40px;
  }

  #icons:hover {
    color: darkturquoise;
  }
  .rop h2{
    color: darkturquoise;
  }
  .rop h1{
    color: white;

  }
  .rop h2 >span{
    color: white;
  }
#ent{
  color: white;
}
  .grtng {
    font-size: 80px;
    color: darkturquoise;
    clear: both;
    margin-top: 80px;
    /*    margin-left: 80px;*/
  }

  #abt {
    font-size: 50px;
    color: black;
    margin-left: 20px;
    margin-top: 100px;
    font-family: 'Shadows Into Light', cursive;
    font-family: 'Lobster Two', cursive;
    text-align: center;
  }

  #abot {
    background-color: gainsboro;
  }

  #cv {
    font-size: 25px;
    font-family: 'Shadows Into Light', cursive;
    margin-bottom: 100px;
    margin-left: 20px;
  }
  .rot{
    background-color: grey;
  }


  #am {
    font-size: 18px;
    color: darkseagreen;
    margin-left: 80px;
  }

  #cont {
    margin-left: 280px;
  }

  #cntct {
    margin-top: 20px;
    margin-left: 55px;
    margin-bottom: 30px;
  }
  #cntct  p{
    font-family: 'Shadows Into Light', cursive;
    font-size: 32px;
  }


  .fixd {
    color: darkturquoise;
    text-decoration: none;
    list-style-type: none;
    font-weight: bold;
  }

  #home {
    margin-left: 450px; */
  /* }

  li {
    text-decoration: none;
    list-style-type: none;
  }

  .send:hover {
    background-color: green;
  }

  #fxd:hover {
    color: black;
    transform: skewy(-6deg);
    /* transform: opacity 300ms  ease-in-out 1s;
    transform: skewY(-15deg); */
    /*box-shadow: 0 60px 20px rgba(0,0,0,.1);*/
  }
  #myBtn {
  display: none; /* Hidden by default */
  position: fixed; /* Fixed/sticky position */
  bottom: 20px; /* Place the button at the bottom of the page */
  right: 30px; /* Place the button 30px from the right */
  z-index: 99; /* Make sure it does not overlap */
  border: none; /* Remove borders */
  outline: none; /* Remove outline */
  background-color: #FFFFFF; /* Set a background color */
  color: #B2EBF2; /* Text color */
  cursor: pointer; /* Add a mouse pointer on hover */
  padding: 15px; /* Some padding */
  border-radius: 10px; /* Rounded corners */
  font-size: 18px; /* Increase font size */
}

#myBtn:hover {
  background-color: #555; /* Add a dark-grey background on hover */
}
.link{
  background-color: #FFFFFF;
  text-align: center;
  width: 50;
  color: black;
  text-decoration: none;

}
.link:hover{
  color: #00BCD4;
}
  .send:hover{
    background-color: #8BC34A;
  }

  .fixd:hover {
    color: white;
    /* transform: rotate(-15deg);
    transform: opacity 300ms ease-in-out 1s;
    transform: skewY(-15deg); */

  }
  .ros a{
    text-decoration: underline;
  }
  .ros a:hover{
    color: darkturquoise;
  }

  #first {
    margin-top: 40px;
    display: flex;
    flex-direction: row;
  }
  #first p{
    color: white;
  }
  #contcts{
    color: white;
    font-weight: bold ; font-family: 'Lobster', cursive;
    margin-left: 80px;
  }

  #second {
    margin-top: 50px;
    margin-bottom: 50px;
    display: flex;
    flex-direction: row;
  }
  #second p{
    color: white;
  }
  footer{
    margin-left: 40px;
    margin-right: 40px;
  }

  .pot {
    opacity: 0.7;
    filter: alpha(opacity=50);
    width: 300px;
    height: 300px;
    margin-right: 10px;
  }

  .pot:hover {
    opacity: 1.0;
    filter: alpha(opacity=100);
    transform: skewy(-6deg);
  }
